{% extends 'base.html' %}

{% block title%}
    文章详情
{% endblock%}


{% block nav%}
{% load staticfiles %}
<div style="margin: auto; text-align: center; height: 500px; width: 1200px">
    <div class="col-md-9" style="width: 1200px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">文章标题：{{article.title}}</h2>
            </div>
            <div class="panel-body">
                <div style="text-align: center">
                    发表时间：{{article.publish_time}} |
<!--                    修改时间：{{article.modify_time}}  |-->
                    作者： {{article.author}} |
                    点击量 {{article.count}}
                </div>
                <hr>
                <p class="content" >
                    {{article.content}}

                </p>
                <button style="height: 45px;" class="btn btn-success btn-lg"><a style="color: white;" href="{% url 'thecar:index' %}">返回</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock%}