{% extends 'base.html' %}

{% block title%}
    用户修改页面
{% endblock%}


{% block nav%}
<div style="margin: auto; text-align: center; height: 500px; width: 1200px">
<div class="col-md-9" style="width: 250px;height: 400px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">用户信息修改</h2>
      </div>
      <div class="panel-body">
         <h4 class="text-center text-danger">{{msg}}</h4>
          <form action="/thecar/user_update/{{user.id}}/" method="post"  class="form-horizontal">
              {% csrf_token %}

               <div class="form-group">
                    <label for="nickname" class="col-sm-2 control-label">用户昵称：</label>
                    <div class="col-sm-9">
                        <!--disabled value="{{ user.username }}"-->
                      <input type="text" class="form-control" name="nickname" id="nickname" >
                    </div>
               </div>

              <div class="form-group">
                <label for="age" class="col-sm-2 control-label">用户年龄：</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" name="age" id="age" value="{{ user.userinfo.age }}">
                </div>
              </div>



              <!--<input type="hidden" name="id" value="{{user.id}}">-->

               <div class="form-group">
                <label  class="col-sm-2 control-label">性别：</label>
                <div class="col-sm-9">
                    {% if user.userinfo.gender == '男' %}
                    <input type="radio" checked value="男" name="gender"> 男
                    <input type="radio" value="女" name="gender"> 女
                    {%  else %}
                   <input type="radio"  value="男" name="gender"> 男
                   <input type="radio" checked value="女" name="gender"> 女
                    {% endif %}
                </div>
              </div>
              <div class="text-center">
                  <input type="submit" value="修改用户信息" class="btn btn-danger ">
              </div>
        </form>
      </div>
    </div>
</div>
</div>
{% endblock %}
